rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /Admins/{user}/Studies/{study}/{image} {
      // I don't know a way to require the studies to be enabled.
      allow read: if true;

      // I don't know a way to require users to be administrators.
      allow write: if request.auth != null && request.auth.uid == user;
    }
  }
}
