/*
  Site container
*/

body {
  display: flex;
  flex-direction: column;
}
.container {
  flex-grow: 1;
}

.content-wrapper .page-path {
  padding-top: 0.6em;
  color: #5f5f5f;
}
.content-wrapper .page-path a {
  color: #6c6c6c;
}

.recommendation {
  display: inline-block;
  color: black;
  font-weight: 800;
  text-decoration: underline;
}
.recommendation::after {
  display: inline-block;
  content: ":";
  text-decoration: none;
}

.param-links {
  margin-top: -0.6rem;
}
.content-wrapper a.param-link {
  display: inline-block;
  text-decoration: none;
}
.content-wrapper a.param-link:hover {
  text-decoration: underline;
}

a.back-to-top, .content-wrapper a.back-to-top {
  display: block;
  text-align: center;
  margin-top: 1rem;

  color: #6c6c6c;
  text-decoration: underline;
}

.content-wrapper a {
  color: $brand-color;
  text-decoration: underline;
}
.content-wrapper a:hover {
  color: $brand-color-darker;
}

ul#markdown-toc {
  display: inline-block;
  background-color: #fdfdfd;
  border: 1px solid #666666;
  border-radius: 0.4rem;
  padding: 1.2rem 2rem 0.5rem;
  margin: 0.4rem 0 0;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
ul#markdown-toc a {
  text-decoration: none;
}
ul#markdown-toc > li > a {
  font-weight: bold;
  font-size: 1.125em;
}
ul#markdown-toc > li > ul > li {
  margin-bottom: 0.6rem;
}
ul#markdown-toc > li > ul > li > a{
  font-weight: bold;
}
ul#markdown-toc > li > ul > li > ul {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
ul#markdown-toc > li > ul > li > ul > li {
  margin-bottom: 0.4rem;
}

.content-wrapper {
  h1, h2, h3, h4, h5, h6 {
    a.header-link {
      color: $brand-color;
      text-decoration: none;

      opacity: 0;
      transition: opacity ease-in-out 0.2s;
    }
    &:hover {
      a.header-link {
        opacity: 0.6;
        transition: opacity ease-in-out 0.2s;
        &:hover {
          opacity: 1;
          transition: opacity ease-in-out 0.2s;
        }
      }
    }
  }
  h1, h2, h3 {
    a.header-link:hover {
      text-decoration: underline;
    }
  }
}

.content-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}
.content-wrapper h1 {
  margin: 20px 0 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
