/*
  Site container
*/

.page-path {
  padding-top: 0.6em;
  color: #5f5f5f;
}
.page-path a {
  color: #6c6c6c;
}

.param-name {
  display: block;
  color: black;
  font-weight: 800;
  text-decoration: underline;
}
.param-name::after {
  display: inline-block;
  content: ":";
  text-decoration: none;
}

.content-wrapper a {
  text-decoration: underline;
}

.content-wrapper {
  h1, h2, h3, h4, h5, h6 {
    a.header-link {
      color: $brand-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }

      opacity: 0;
      transition: opacity ease-in-out 0.2s;
    }
    &:hover {
      a.header-link {
        opacity: 0.6;
        transition: opacity ease-in-out 0.2s;
        &:hover {
          opacity: 1;
          transition: opacity ease-in-out 0.2s;
        }
      }
    }
  }
}

.content-wrapper {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
}
.content-wrapper h1 {
  margin: 20px 0 5px;
}
@media (max-width: $container-width) {
  .container {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .content-wrapper {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
  }
}
