.footer {
  background: #f4f4f4;
  width: 100%;
  margin-top: 1em;
  color: black;
  border-top: 3px solid $brand-color;
}
.footer-content {
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: $header-width;
}
.footer a {
  text-decoration: underline;
  padding: 0 10px 0;
}
.footer div {
  display: block;
  text-align: center;
  width: 100%;
}
.footer-description {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-links {
  padding-bottom: 1.6em;
}
