---
---

@charset "utf-8";

$base-font-family: 'Noto Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$body-font-family: 'Noto Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: #006be2;
$brand-color-darker: #16418A;
$brand-color-lighter: #227be2;

$header-width: 880px;
$container-width: 800px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 40px;
$heading-link-offset: 56px;
$github-color: #343434;

@import "-sections-dir";
