@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    min-height: 100vh;
}

.flip-x {
    --tw-scale-x: -1;
}

a {
    color: #006be2;
    text-decoration: underline;
}
a:hover, a:active {
    color: #16418A
}
